@keyframes animatebottom {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}

footer {
  position: relative;
  width: 100%;
  bottom: 0px;
  background-color: #141414;
  text-align: center;
  padding: 25px;
  color: #c9c9c9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mail {
}
.copyright {
}

.contactDetails{
  display: flex;
  align-items: center;
}

.contactDetails > h5 {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  letter-spacing: 2px;
}
.mail {
  display: inline-block;
  margin: 0px 10px 0px 2px;
}

.number {
  float: left;
  margin: 0px 10px 0px 2px;
}


.copyright > h2,
h4 {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
}

.copyright > h4 {
  font-size: 10px;
  letter-spacing: 2px;
}

.s-m {
  float: right;
}

.s-m a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: rgba(201, 201, 201, 0.151);
  color: white;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 22px;
  text-decoration: none;
}
.s-m a:hover {
  background: #767676;
  color: #16d34e;
}
.s-m a i {
  transition: 0.4s all;
}
.s-m a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

@media screen and (max-width: 900px) {
  footer{
    flex-direction: column;
    gap: 10px;
  }
  .contact{
    width: 100%;
  }
  .s-m{
    width: max-content;
  }
}