.prohead {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  width: 75%;
  margin: 0px auto 25px auto;
  height: 100px;
}

.prohead {
  background-image: linear-gradient(to right, #000000ff, #c9c9c9);
  overflow: visible !important;
}

.designer {
  margin-top: -50px;
}

#Projects {
  padding-top: 120px;
  background-color: #ebebeb;
}

.projectmain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: url("/src/components/style/project.svg") no-repeat center 100%; */
  position: relative;
  z-index: 1;
}

.projectmain::after {
  content: "";
  background: url("/src/components/style/project.svg") no-repeat center 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
