.skihead {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  width: 75%;
  margin: 0px auto 25px auto;
  height: 100px;
}

.skihead {
  background-image: linear-gradient(to left, #000000ff, #c9c9c9);
  overflow: visible !important;
}

.designer {
  margin-top: -50px;
}

#Skills {
  padding-top: 120px;
  background-color: #ebebeb;
}
@media screen and (max-width: 900px) {
  .skihead{
    width: 100%;
  }
}