.exphead {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  width: 75%;
  margin: 0px auto 25px auto;
  height: 100px;
}

.exphead {
  background-image: linear-gradient(to right, #000000ff, #c9c9c9);
  overflow: visible !important;
}

.designer {
  margin-top: -50px;
}

#Expirence {
  padding-top: 120px;
  background-color: #ebebeb;
}

.company {
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  margin: 0 50px 0 50px;
}

.card__edge-button {
  margin: 0 auto -10px auto;
  z-index: 11;
}

.separator-div{
  margin: 0 auto -10px auto;
}

.separator {
  width: 10px;
  height: 100px;
  background-color: #16d34e;
  z-index: 1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 900px) {
  .exphead{
    width: 100%;
  }
  .company{
    margin: 0px 50px 0 50px;
  }
}

@media screen and (max-width: 540px) {
  .company{
    margin: 0px 25px 0 25px;
  }
}