* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.whitecolor {
  color: white;
}

.blackcolor {
  background-color: #141414;
}
